/* === GLOBAL SETTINGS === */
* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background: radial-gradient(circle at 20% 20%, #000000, #020303 60%, #08454c 100%);
  color: #e0e0e0;
  overflow-x: hidden;
  padding-left: 0%;
}

/* === HEADER === */
header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 10vh; /* full viewport height */
  display: block; /* Changed from flex */
  flex-direction: column;
  justify-content: center; /* vertically center content if needed */
  align-items: flex-start;
  padding: 0.8rem 1rem;
  padding-bottom: 6%;
  z-index: 10; /* above canvas and particles */
  backdrop-filter: blur(10px);
  background: rgba(5, 5, 10, 0.5); /* semi-transparent for effect */
  border-bottom: 3px solid rgba(0, 255, 255, 0.2);
}

/* === DEVELOPER ICONS TOP-RIGHT === */
.dev-profiles {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Allows icons to wrap on smaller screens */
}

.dev-profiles a {
  color: #00eaff;
  font-size: 2.5rem; /* Increased icon size */
  transition: all 0.3s ease;
}

.dev-profiles a:hover {
  transform: translateY(-3px) scale(1.1);
  text-shadow: 0 0 10px #00eaff;
}

#profiles .gdev {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  object-fit: cover;
  border: 2px solid #00eaff;
  transition: all 0.3s ease;
  flex-wrap: wrap;
  margin-top: 15%;
}

#profiles .gcloud {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 2px solid #00eaff;
  transition: all 0.3s ease;
  flex-wrap: wrap;
  margin-top: 12%;
}

#profiles .mslearn {
  border-radius: 0%;
  width: 34px;
  height: 34px;
  object-fit: cover;
  border: 2px solid #00eaff;
  transition: all 0.3s ease;
  flex-wrap: wrap;
  margin-top: 20%;
}

#profiles .gdev:hover {
  transform: translateY(-3px) scale(1.1);
  box-shadow: 0 0 10px #00eaff;
}

#profiles .gcloud:hover {
  transform: translateY(-3px) scale(1.1);
  box-shadow: 0 0 10px #00eaff;
}

#profiles .mslearn:hover {
  transform: translateY(-3px) scale(1.1);
  box-shadow: 0 0 10px #00eaff;
}

/* === NAME TYPING EFFECT === */
header h1 {
  font-size: 2.5rem;
  color: #00eaff;
  font-weight: 100;
  letter-spacing: 1px;
  font-style: italic;
}

@keyframes typing {
  0% { width: 0; }
  50% { width: 25ch; }
  100% { width: 0; }
}

@keyframes blink {
  0%, 100% { border-color: transparent; }
  50% { border-color: #00eaff; }
}

/* === HEADER SUBTITLE AND WELCOME === */
header .subtitle {
  font-size: 1.2rem;
  color: #ccc;
}

header .welcome {
  font-size: 2rem;
  color: #00eaff;
  margin-top: 5%;
  margin-bottom: 0%;
  font-weight: 1000;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.1em solid #00eaff;
  width: 26ch; /* Match the character count of the sentence */
  animation: typing 5s steps(100) infinite alternate, blink 0.15s step-end infinite;
}

header nav {
  position: fixed;
  gap: 0.5rem;
  padding: auto;
  display: flex;
  font-weight: 100;
  margin-right: 1%;
  margin-left: 45%;
}

header .nav-btn {
  margin-left: 0%;
  display: inline-flex;
  justify-content: right;
  justify-items: right;
  color: #ccc;
  text-decoration: none;
  border-radius: 10px;
  border-color: #439edb;
  border-style: solid;
  border-width: 1.8px;
  padding: 0.5rem 0.5rem;
  transition: color 0.3s ease;
  background-color: #000;
}
header .nav-btn:hover {
  background: rgb(110, 192, 243);
  box-shadow: 0 0 10px #98f5ff;
  color: #000;
  border-color: #00eaff;
  border-width: 2px;
}

.download-btn {
  position: relative;
  display: inline-flex;
  padding: 0.4rem 1rem;
  text-decoration: solid;
  font-weight: 20;
  font-size: smaller;
  background: rgb(2, 3, 3);
  border: 2px solid #00eaff;
  border-radius: 20px;
  color: #ffffff;
  transition: 0.3s ease;
  font-weight: 600;
}

.download-btn:hover {
  background: rgba(103, 235, 228, 0.795);
  box-shadow: 0 0 10px #00eaff;
  color: #000;
}

/* === SECTIONS === */
section {
  padding: 6rem 3rem 3rem 3rem;
  position: relative;
  z-index: 1;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-in-out;
}

section.visible {
  opacity: 1;
  transform: translateY(0);
}

section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #00eaff;
}

#about {
  padding-left: 1%;
  padding-top: 2%;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 1rem;
  width: 100%;
  border-collapse: collapse;
  background: linear-gradient(135deg, rgba(4, 82, 82, 0.277), rgba(69, 193, 235, 0.397));
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.1);
  transition: transform 0.5s ease, box-shadow 0.5s ease, background 0.5s ease;
}

/* === CARDS, TABLES & LISTS === */
.card-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 5rem 3rem;
  margin-bottom: 0%;
  padding-top: 10%;
  padding-bottom: 6%;
  flex-wrap: wrap; /* Allows cards to stack on smaller screens */
}

.card {
  background: linear-gradient(135deg, rgb(2, 41, 41), rgba(0,0,20,0.6));
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(107, 243, 243, 0.868);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  padding: 2rem;
  flex: 1; /* Allows cards to grow */
  min-width: 300px; /* Prevents cards from getting too small */
  max-width: 500px; /* Prevents cards from getting too large */
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(0,255,255,0.3);
}

.card ul {
  list-style: none;
  padding-left: 0;
}

/* === EDUCATION CARDS === */
.education-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  margin-top: 2rem;
}

.education-card {
  background-color: transparent;
  width: 800px;
  height: 150px;
  perspective: 1000px; /* For 3D effect */
  cursor: pointer;
  border-radius: 16px;
}

.education-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 0 20px rgba(46, 230, 230, 0.637);
  border-radius: 16px;
}

.education-card:hover .education-card-inner, .education-card:focus .education-card-inner {
  box-shadow: 0 0 25px rgb(99, 249, 249);
}

.education-card-inner.is-flipped {
  transform: rotateY(180deg);
}

.education-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgba(184, 184, 184, 0.378), rgba(0,0,20,0.6));
  padding: 1rem;
}

.education-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgba(0,255,255,0.05), rgba(0,0,20,0.6));
  padding: 1rem;
  text-align: justify;
  line-height: 1.4;
}

.education-card-back h4 {
  list-style: none;
  justify-content: flex-start;
  text-align: start;
  padding: 0.5rem 1rem;
}

.education-card-back {
  transform: rotateY(180deg);
}

.education-card-back ul {
  list-style: symbols();
  padding: 0;
}

.table-container table {
  width: 100%;
  border-style: solid;
  background: linear-gradient(135deg, rgba(0,255,255,0.05), rgba(0,0,20,0.6));
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(46, 230, 230, 0.637);
  transition: transform 0.5s ease, box-shadow 0.5s ease, background 0.5s ease;
}

.table-container table:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgb(99, 249, 249);
}

.table-container td {
  padding: 1rem;
  border-bottom: 2px solid #ababab;
  border-right: 2px solid #acacac;
  text-align: center;
}

.table-container th {
  padding: 1rem;
  border-bottom: 2px solid #b0b0b0;
  border-right: 2px solid #b0b0b0;
  background: linear-gradient(135deg, rgba(44, 187, 220, 0.378), rgba(0,0,20,0.6));
  border-color: #989898;
  border-collapse: collapse;
}

.table-container tr {
  border-color: #00eaff;
  border-collapse: collapse;
}

/* === SKILLS CARDS === */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  margin-top: 2rem;
}

.skill-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px; /* For 3D effect */
  cursor: pointer;
  border-radius: 16px;
}

.skill-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 0 20px rgba(46, 230, 230, 0.637);
  border-radius: 16px;
}

.skill-card:hover .skill-card-inner, .skill-card:focus .skill-card-inner {
  box-shadow: 0 0 25px rgb(99, 249, 249);
}

.skill-card-inner.is-flipped {
  transform: rotateY(180deg);
}

.skill-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgba(184, 184, 184, 0.378), rgba(0,0,20,0.6));
  padding: 1rem;
}

.skill-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgba(0,255,255,0.05), rgba(0,0,20,0.6));
  padding: 1rem;
  text-align: justify;
}

.skill-card-back h4 {
  list-style: none;
  justify-content: flex-start;
  text-align: start;
  padding: 0.5rem 1rem;
}

.skill-card-back {
  transform: rotateY(180deg);
}

.skill-card-back ul {
  list-style: symbols();
  padding: 0;
}

ul.experience-list li:hover {
  transform: translateY(-6px) rotateX(5deg);
  box-shadow: 0 0 15px rgba(39, 255, 255, 0.723);
  animation-play-state: running; /* Pause animation on hover */
  background-image: linear-gradient(135deg, rgba(105, 232, 232, 0.733), rgba(0,0,50,0.6)); /* Specific hover background */
}

@keyframes wavyGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
  50% { background-color: 100% 50%; }
}

/* === FOOTER === */
footer {
  display: flex;
  justify-content: center;
  align-items: center; /* removed bottom profile icons */
}

@media screen and (width: 1080px) and (height: 2400px) {
  /* Your CSS styles for this specific screen resolution go here */
  body {
  font-family: 'Inter', sans-serif;
  background: radial-gradient(circle at 20% 20%, #000000, #020303 60%, #08454c 100%);
  color: #e0e0e0;
  overflow-x: hidden;
  width: 100%;
}

/* === HEADER === */
header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  min-height: 10vh; /* full viewport height */
  justify-content: flex-start; /* vertically center content if needed */
  align-items: flex-start;
  padding: 4% 0%;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.5); /* semi-transparent for effect */
  border-bottom: 3px solid rgba(0, 255, 255, 0.2);
}

/* === DEVELOPER ICONS TOP-RIGHT === */
.dev-profiles {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Allows icons to wrap on smaller screens */
}

.dev-profiles a {
  color: #00eaff;
  font-size: 2rem; /* Increased icon size */
  transition: all 0.3s ease;
}

.dev-profiles a:hover {
  transform: translateY(-3px) scale(1.1);
  text-shadow: 0 0 10px #00eaff;
}

#profiles .gdev {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  object-fit: cover;
  border: 2px solid #00eaff;
  transition: all 0.3s ease;
  flex-wrap: wrap;
  margin-top: 15%;
}

#profiles .gcloud {
  border-radius: 50%;
  width: 31px;
  height: 31px;
  object-fit: cover;
  border: 2px solid #00eaff;
  transition: all 0.3s ease;
  flex-wrap: wrap;
  margin-top: 12%;
}

#profiles .mslearn {
  border-radius: 0%;
  width: 27px;
  height: 27px;
  object-fit: cover;
  border: 2px solid #00eaff;
  transition: all 0.3s ease;
  flex-wrap: wrap;
  margin-top: 20%;
}

#profiles .gdev:hover {
  transform: translateY(-3px) scale(1.1);
  box-shadow: 0 0 10px #00eaff;
}

#profiles .gcloud:hover {
  transform: translateY(-3px) scale(1.1);
  box-shadow: 0 0 10px #00eaff;
}

#profiles .mslearn:hover {
  transform: translateY(-3px) scale(1.1);
  box-shadow: 0 0 10px #00eaff;
}

/* === NAME TYPING EFFECT === */
header h1 {
  font-size: 2.5rem;
  color: #00eaff;
  font-weight: 100;
  letter-spacing: 1px;
  font-style: italic;
  justify-content: left;
  text-align: left;
  margin-left: 5%;
}

@keyframes typing {
  0% { width: 0; }
  50% { width: 25ch; }
  100% { width: 0; }
}

@keyframes blink {
  0%, 100% { border-color: transparent; }
  50% { border-color: #00eaff; }
}

/* === HEADER SUBTITLE AND WELCOME === */
header .subtitle {
  font-size: 1.2rem;
  color: #ccc;
  margin-left: 6%;
}

header .welcome {
  font-size: 1.5rem;
  color: #00eaff;
  margin-top: 5%;
  margin-bottom: 0%;
  font-weight: 1000;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.1em solid #00eaff;
  width: 1ch; /* Match the character count of the sentence */
  animation: typing 5s steps(150) infinite alternate, blink 0.15s step-end infinite;
}

header nav {
  position: fixed;
  gap: 0.3rem;
  width: 100%;
  padding: 1%;
  justify-content: flex-start;
  justify-items: flex-start;
  font-weight: 100;
  margin-top: 34%;
  margin-left: 0%;
  margin-right: 0%;
  background-color: rgb(0, 0, 0);
}

header .nav-btn {
  position: relative;
  color: #ccc;
  text-decoration: none;
  border-radius: 10px;
  border-color: #439edb;
  border-style: solid;
  border-width: 1.8px;
  padding: 0.9%;
  font-size: 55%;
  font-weight: 700;
  transition: color 0.3s ease;
  background-color: #000;
}
header .nav-btn:hover {
  background: rgb(110, 192, 243);
  box-shadow: 0 0 10px #98f5ff;
  color: #000;
  border-color: #00eaff;
  border-width: 2px;
}

.download-btn {
  position: relative;
  text-decoration: solid;
  text-align: center;
  display: inline-flex;
  padding: 0.35rem 0.6rem;
  font-size: 50%;
  font-weight: 700;
  background: rgb(2, 3, 3);
  border: 2px solid #00eaff;
  border-radius: 20px;
  color: #ffffff;
  transition: 0.3s ease;
  font-weight: 600;
}

.download-btn:hover {
  background: rgba(103, 235, 228, 0.795);
  box-shadow: 0 0 10px #00eaff;
  color: #000;
}

/* === SECTIONS === */
section {
  margin-left: 1%;
  padding: 4% 0%;
  position: relative;
  z-index: 1;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-in-out;
}

section.visible {
  opacity: 1;
  transform: translateY(0);
}

section h2 {
  font-size: 150%;
  margin-bottom: 1rem;
  color: #00eaff;
}

#about {
  margin-top: 10%;
  margin-left: 1%;
  padding: 4% 0%;
  width: 100%;
  background: linear-gradient(135deg, rgba(4, 82, 82, 0.277), rgba(69, 193, 235, 0.397));
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.1);
  transition: transform 0.5s ease, box-shadow 0.5s ease, background 0.5s ease;
  font-size: 80%;
}

#about h2 {
  color: #00eaff;
  font-size: 150%;
}

/* === CARDS, TABLES & LISTS === */
.card-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 5rem 3rem;
  margin-bottom: 0%;
  padding-top: 10%;
  padding-bottom: 6%;
  flex-wrap: wrap; /* Allows cards to stack on smaller screens */
}

.card {
  background: linear-gradient(135deg, rgb(2, 41, 41), rgba(0,0,20,0.6));
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(107, 243, 243, 0.868);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  padding: 2rem;
  flex: 1; /* Allows cards to grow */
  min-width: 300px; /* Prevents cards from getting too small */
  max-width: 500px; /* Prevents cards from getting too large */
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(0,255,255,0.3);
}

.card ul {
  list-style: none;
  padding-left: 0;
}

.contact-card {
  background: linear-gradient(135deg, rgb(2, 41, 41), rgba(0,0,20,0.6));
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(107, 243, 243, 0.868);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  padding: 2rem;
  flex: 1; /* Allows cards to grow */
  min-width: 300px; /* Prevents cards from getting too small */
  max-width: 500px; /* Prevents cards from getting too large */
}

.contact-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(0,255,255,0.3);
}

.contact-card ul {
  list-style: none;
  padding-left: 0;
  font-size: 80%;

}

/* === EDUCATION CARDS === */
.education-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  margin-top: 2rem;
}

.education-card {
  background-color: transparent;
  width: 300px;
  height: 100px;
  perspective: 1000px; /* For 3D effect */
  cursor: pointer;
  border-radius: 16px;
}

.education-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 0 20px rgba(46, 230, 230, 0.637);
  border-radius: 16px;
}

.education-card:hover .education-card-inner, .education-card:focus .education-card-inner {
  box-shadow: 0 0 25px rgb(99, 249, 249);
}

.education-card-inner.is-flipped {
  transform: rotateY(180deg);
}

.education-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgba(184, 184, 184, 0.378), rgba(0,0,20,0.6));
  padding: 1rem;
  font-size: 90%;
}

.education-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgba(0,255,255,0.05), rgba(0,0,20,0.6));
  padding: 1rem;
  text-align: justify;
  line-height: 1.4;
  font-size: 60%;
}

.education-card-back h4 {
  list-style: none;
  justify-content: flex-start;
  text-align: start;
  padding: 0.5rem 1rem;
}

.education-card-back {
  transform: rotateY(180deg);
}

.education-card-back ul {
  list-style: symbols();
  padding: 0;
}

.table-container table {
  width: 80%;
  border-style: solid;
  background: linear-gradient(135deg, rgba(0,255,255,0.05), rgba(0,0,20,0.6));
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(46, 230, 230, 0.637);
  transition: transform 0.5s ease, box-shadow 0.5s ease, background 0.5s ease;
}

.table-container table:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgb(99, 249, 249);
}

.table-container td {
  padding: 1rem;
  border-bottom: 2px solid #ababab;
  border-right: 2px solid #acacac;
  text-align: center;
  font-size: 70%;
}

.table-container th {
  padding: 1rem;
  border-bottom: 2px solid #b0b0b0;
  border-right: 2px solid #b0b0b0;
  background: linear-gradient(135deg, rgba(44, 187, 220, 0.378), rgba(0,0,20,0.6));
  border-color: #989898;
  border-collapse: collapse;
  font-size: 80%;
}

.table-container tr {
  border-color: #00eaff;
  border-collapse: collapse;
}

/* === SKILLS CARDS === */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  margin-top: 2rem;
}

.skill-card {
  background-color: transparent;
  width: 200px;
  height: 100px;
  perspective: 1000px; /* For 3D effect */
  cursor: pointer;
  border-radius: 16px;
}

.skill-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 0 20px rgba(46, 230, 230, 0.637);
  border-radius: 16px;
}

.skill-card:hover .skill-card-inner, .skill-card:focus .skill-card-inner {
  box-shadow: 0 0 25px rgb(99, 249, 249);
}

.skill-card-inner.is-flipped {
  transform: rotateY(180deg);
}

.skill-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgba(184, 184, 184, 0.378), rgba(0,0,20,0.6));
  padding: 1rem;
  font-size: 80%;
}

.skill-card-back {
  position: absolute;
  width: 100%;
  height: 90%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgba(0,255,255,0.05), rgba(0,0,20,0.6));
  padding: 1rem;
  text-align: justify;
  font-size: 60%;
}

.skill-card-back h4 {
  list-style: none;
  justify-content: flex-start;
  text-align: start;
  padding: 0.5rem 1rem;
}

.skill-card-back {
  transform: rotateY(180deg);
}

.skill-card-back ul {
  list-style: symbols();
  padding: 0;
}

ul.experience-list li:hover {
  transform: translateY(-6px) rotateX(5deg);
  box-shadow: 0 0 15px rgba(39, 255, 255, 0.723);
  animation-play-state: running; /* Pause animation on hover */
  background-image: linear-gradient(135deg, rgba(105, 232, 232, 0.733), rgba(0,0,50,0.6)); /* Specific hover background */
}

@keyframes wavyGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
  50% { background-color: 100% 50%; }
}

/* === FOOTER === */
footer {
  display: flex;
  justify-content: center;
  align-items: center; /* removed bottom profile icons */
  font-size: 70%;
}
} 